.branch{
    background-color: whitesmoke;
    
}
.branch_title{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}
.branch_title h1 {
    font-style: italic;
}
.branch .add_data{
    background-color: rgb(0, 221, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
    font-weight: bolder;
    border: none;
}