.layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.layout_main{
    display: flex;
    height: 95%;
}
.layout_header{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:rgb(0, 162, 255);
    padding:1rem;
}
.layout_header h1{
    font-size: 1.5rem;
}