.login_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    box-shadow: 0 0 3pt 1pt black;
}
.login__form input{
    width: 400px;
    max-width: 90%;
    height: 40px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px;
}
.login__form h1 {
    text-align: center;
    font-size: 4rem;
    background-color: gainsboro;
    width: 100%;
}
.login__form input[type=text],.login__form input[type=password]{
    border: 1px solid rgb(182, 182, 182);
}
.login__form input:focus:not(input[type=submit]){
    outline-color: transparent;
    box-shadow: 0 0 3pt 1pt rgb(1, 120, 255);
}
.login__form input[type=submit]{
    border:none;
    outline-color: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-weight: bolder;
}
.login__form input[type=submit]:focus{
    outline-color: none;
    border: none;
}