*{
    margin: 0%;
    padding: 0%;
}
.side_navigation_bar{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    height: 100%;
    padding: 10px;
}
.side_navigation_bar>li{
    text-decoration: none;
    list-style: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.side_navigation_bar a{
   font-size: 1.2rem;
   display: flex;
   align-items: center;
   margin: 10px;
}
.side_navigation_bar a>p{
    margin-left: 10px;
}
.side_navigation_bar img{
    object-fit:contain;
    margin: unset;
    height: 100%;
    width: 100%;
 }
.activeLink{
    transition: .2s ease-in;
    background-color: rgb(138, 138, 138);
    color: BLACK;
    font-weight: bolder;
}