*{
    margin: 0%;
    padding: 0%;
}
.side_navigation_bar{
    background-color: rgb(80, 80, 80);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
li{
    text-decoration: none;
    list-style: none;
    width: 100%;
    text-align: center;
}
.activeLink{
    transition: .2s ease-in;
    background-color: rgb(138, 138, 138);
    color: white;
    font-weight: bolder;
}