.employee__form{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 10px;
}
.employee__form label{
    padding: 0%;
}
.employee__form input,.employee__form select{
    margin: 0%;
    max-width: 99%;
}
.employee_info, .employee_work_info, .employee_credentials{
    display: flex;
    width: 100%;
}
.employee_info,.employee_credentials,.employee_work_info{
    display: flex;
    width: 100%;
}
.employee_info>div,.employee_credentials>div,.employee_work_info>div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
}
